.sidebar {
    width: 100%;
    border: 1px solid rgb(218, 218, 218);
    padding: 2rem;
    min-width: 200px;
    background-color: white;

    // USE FOR HEADER SIDEBAR
    span {
        font-size: 1.4rem;
        font-weight: 600;
    }

    .shop-categories, .sub-categories {

        form {
            font-size: 1.2rem;
        }

        input[type=radio] {
            border: 0px;
            height: 2em;
            width: 5%;
        }

        label {
            margin-left: 0.5rem;
        }

        .categories-input, .sub-categories-input {
            margin-top: 1.2rem;
            display: flex;
            align-items: center;
        }

        .categories-input:first-child, .sub-categories-input:first-child {
            margin-top: 2rem;
        }
    }

    .sub-categories {
        margin-top: 4rem;
    }

    .province, .price-range {
        margin-top: 4rem;

        form {
            margin-top: 1.2rem;

            select {
                width: 100%;
                height: 3rem;
                font-size: 1.4rem;
            }
        }
    }

    .close-btn {
        display: none;
    }
}