.App {

    width: 100%;
    min-width: fit-content;

    .search-result {
        font-size: 2rem;
        font-weight: bold;
        margin-top: 2rem;
    }

    .search-result {
        display: block;
        padding-left: 1.5rem;
    }

    .shop-list {
        width: 100%;
    }
}

.sidebar-shoplist-container {
    width: 98%;
    display: grid;
    grid-template-columns: 0.26fr 0.73fr;
    grid-gap: 6rem;
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 1024px) {

    .App {
        width: 100%;
        min-width: fit-content;

        // .navbar {
        //     width: 100%;
        //     height: 100px;
        // }
        
        .search-result {
            font-size: 1.2rem;
        }
    }

    .sidebar-shoplist-container {
        width: 100%;
        display: flex;
        margin-top: 3rem;
    }

    .sidebar-container {
        display: none;
    }

    .shop-list-container {
        width: 91%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (min-width: 300px) and (max-width: 600px) {

    .App {
        width: 100%;
        min-width: fit-content;
        .navbar {
        }

    }
}